
/*** Global default style ***/
* {
    /* Prevent dragging */
        -webkit-user-drag: none;
         -khtml-user-drag: none;
           -moz-user-drag: none;
             -o-user-drag: none;
                user-drag: none;

    /* Default font */
              font-family: Courier New, monospace;

    /* Optimize png images */
          image-rendering: crisp-edges;
          image-rendering: -moz-crisp-edges;
          image-rendering: -o-crisp-edges;
          image-rendering: -webkit-optimize-contrast;

/*     image-rendering: pixelated; */
}

/*** App screen ***/
#app-screen {
    /* Screen size */
    width:              calc(100vw - 10px);
    max-width:          800px;
    min-width:          300px;

    margin-left:        auto;
    margin-right:       auto;

    background-color:   #B0DDFF; /* #92D2F2, #B0DDFF*/
}

/*
@media screen and (max-width: 520px) {
    #app-screen {
        width:          calc(100vw - 20px);
    }
}
*/


#app-title {
    margin-top:     10px;

    font-size:      36px;
    font-weight:    bold;

    text-align:     center;
}

#skate-image {
    display: none;
}

#image-canvas {
    margin-top:     0px;
    margin-left:    auto;
    margin-right:   auto;
    margin-bottom:  0px;

    display:        block;
    display: none;

    background:     none;

    max-height:     420px;
    object-fit:     contain;
}

#control-canvas {
    margin-top:     10px;
    margin-left:    auto;
    margin-right:   auto;
    margin-bottom:  20px;

    display:        block;

    touch-action:   none;

    background:     none;
}


/*** Buttons ***/
.button-line {
    margin-top:     10px;

    display:        flex;
}

.button-line:after {
    content:        "";
    clear:          both;

    display:        block;
}

.button {
    /* Behaviour */
    margin:         auto;

    /* Appearance */
    color:          #000000;
    background:     #67BFEC;
    border:         1px solid #202020;
    border-radius:  7px;

    /* Size */
    width:          228px;
    height:         32px;
    padding:        0;

    /* Text position */
    font-size:      18px;
    text-align:     center;

/*    box-shadow:         3px 3px 5px rgb(0,0,0); */
}

.button-selected {
    background:     #CEEAFF;
}

.button:active:enabled {
    background:     #CEEAFF;
    box-shadow:     none;
}

.button:disabled {
    opacity: 0.3;
}


.form {
    display:        block;
    box-sizing:     border-box;

    margin-top:     10px;
    margin-left:    auto;
    margin-right:   auto;
    margin-bottom:  10px;
    width:          100%;

    background:     #CEEAFF;
    border:         1px solid #202020;
    border-radius:  2px;

    font-size:      14px;
    text-align:     center;
    padding:        3px;

    outline: none;
}

#stencil-svg {
    box-sizing:     border-box;

    margin-top:     10px;
    margin-bottom:  0px;

    height:         100%;
    width:          100%;

    background:     #FFFFFF;
    border:         1px solid #202020;
    border-radius:  2px;
}

#app-copyright {
    margin-top:     10px;

    font-size:      12px;
    text-align:     center;
}

#debug-text {
    position: relative;
    left: 10px;
}

@keyframes image-appear {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}



